
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', Georgia, Times, 'Times New Roman', serif;
}

html, body {
    height: 100%;
}

body{
/*to fix the covering fixed position caused*/
    margin-top: 2.9em;
}

/* nav-bar styling */
.container {
    /* positioning the whole container*/
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#header{
    background: white;
    border-bottom: .1em solid #003366;
    font-size: 1em;
    width: 100%;
    position: fixed !important;
    top: 0 !important;
}

/* occupy two spaces from the whole container as followed 30% for the logo & 70% for the rest of the mnue components, we need to this to be able to apply justify-content on menu components*/
#img-container {
    flex: 0 0 30%;
}


#nav-bar {
    flex: 0 0 70%;
}

#header-img {
    height: 2.5em;
    width: 3em;
    padding: 0.1em 2em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;  
    color: #003366; 
}

/* menu component styling*/
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: right;  
}
/* how much the one menu occupies*/
.li-container {
    flex: 0 0 30%;
}

@media (max-width: 480px) {
    /* to center content when the max width as mentioned above*/
    .container {
        text-align: center;
    }

    body{
        margin-top: 6.5em;
    }

    #img-container {
        flex: 0 0 100%;
    }

    #nav-bar {
        flex: 0 0 100%;
    }

    .li-container {
        flex: 0 0 100%;
        text-align: center;
        border-top: 0.05em dashed #003366;
    }
}



