*{
    margin: 0;
    padding: 0;
}

header, ul, li {
    display:flex; 
}

header {
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    position: static; 
}

#header{
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    border-bottom: 2px solid rgb(2, 11, 51);
    color: rgb(2, 11, 51);
}

#header-img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right:auto 
}

ul, li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding-right: 50px;
}

/* if the screen width 600px or less */
@media only screen and (max-width: 600px) {
    #header-img {width: 0%; height: 0%}
    .nav-link {padding: 5px;}
} 

